<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frizeraj</title>
    <link rel="stylesheet" href="styles/style.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
</head>
<body>
    <header>header</header>

    <a href="/auth/register"></a>
    <a href="/auth/login"></a>

    <h1>Ludi i nezaboravni frizerski salon</h1>
    
    <h2>O nama</h2>
    <p>Nebi covjek reko, tu ide o njima</p>
    
    <h2>Kontakt</h2>
    <p>Kako ih kontaktirati i gdje se nalaze</p>
    
    <h2>Proizvodi</h2>
    <p>Stvari koje prodaju po kategorijama</p>

    <h2>Rezerviraj termin!</h2>
    <div>
        <div id="calendar"></div>
        <script src="scripts/drawCalendar.js"></script>
    </div>

    <footer>footer</footer>
</body>
</html>
