doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Frizeraj
        link(rel="stylesheet" href="../styles/style.css")
        script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js")
    body
        if loggedIn
            a(href="/myProfile" class="event-link") Moj profil <br>
            a(href="/auth/logout" class="event-link") Odjavi se! <br>
        else
            a(href="/auth/login" class="event-link") Prijavi se! <br>
            a(href="/auth/register" class="event-link") Registriraj se!

        div(class="main-page")
            h1 Ludi i nezaboravni frizerski salon</h1>
            
            h2 O nama 
            p Ovaj najluđi i najnezaboravniji frizerski salon ludo je i nezaboravno mjesto. Iza sebe imamo 
            | dugogodišnju tradiciju ludih i nezaboravnih frizura.
            
            h2 Kontakt 
            p tel: 091 098 099
            p lokacija: Luda i nezaboravna ulica 21, Ludost i Nezaboravnost
            
            h2 Proizvodi
            p Stvarno luda i nezaboravna ponuda
            a(href="products" class="event-link") Vise sve!

            h2 Cjenik usluga
            p Ludo šišanje - 10 €
            p Nezaboravno šišanje - 12 €

            h2(id="reserve") Rezerviraj termin!
            div
                div(id="calendar")
                script(src="scripts/drawCalendar.js")

