doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Raspored
        link(rel="stylesheet" href="../styles/style.css")
        script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js")
    body
        header header
        
        h1 Raspored rezervacija
        div
            div(id="calendar")
            script(src="scripts/drawCalendar.js")

        footer footer
